ul.product-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

ul.product-list .product-item {
	background: #fff;
	border-radius: 0.5rem;
}

ul.product-list .product-item > a {
	display: flex;
	gap: 0.25rem;
	align-items: center;
	text-decoration: none;
}

.product-item .product-card {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

li.product-item .product-image {
	margin: 0.25rem;
	border-radius: 0.25rem;
	overflow: hidden;
	width: 36px;
	height: 36px;
	display: block;
	position: relative;
}

li.product-item .product-image img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}

.product-item .product-details {
	display: flex;
	flex-direction: column;
}

.product-item .product-action {
	align-items: center;
	display: flex;
	padding-right: 0.5rem;
}